<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">

    

<!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com//docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="myContainer">
    <button class="btn " (click)="openMenu()" >O</button>
    <div class="MenuContainer" >
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh;" *ngIf="open==true">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">Rent car bachgri</div>
                    <div class="col-sm-3">
                        <button class="btn " (click)="openMenu()" style="color: aliceblue;" >x</button>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item" *ngFor="let inter of interfaces">
                <a href="{{inter.url}}" class="nav-link " [class.active]="inter.name =='Clients'" aria-current="page">
                  <i class="{{inter.icon}}"></i>
                  {{inter.name}}
                </a>
              </li>
            </ul>
            <hr>
            <div class="dropdown">
              <span (click)="dropdown()" [class.rotate]="dropped == true" href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong  >mdo</strong>
              </span>
              <ul class=" dropdown-menu-dark text-small " style="position: absolute;bottom: 31px;right: 0;" aria-labelledby="dropdownUser1" *ngIf="dropped == true">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
    </div>
    hhhhhhhhhhhhhhhhhh
</div>