<div id="myContainer">
    <div class="row" style="width: 100%;">
        <div class="col" *ngFor="let v of voitures">
            <div class="voiture">
                <img src="/assets/voiture__28.jpg" alt="" srcset="" class="imagev">
                <div class="info">
                    <h3>{{v.model}}</h3>
                    <small>text</small><br>
                    <div class="row0" style="box-sizing: border-box;width: 100%;">
                        <div class="col" style="display: inline;">
                            <i>b</i>2 valise
                        </div>
                        <div class="col" style="display: inline;">
                            <i>n</i> 5 places
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>